html, body{
  height: 100%
}

body {
 background-image: url('../src/pizza.png');
  background-repeat: repeat;
 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica Neue;
  color: black;
 }

table {
  border: 1px solid #eee;
  margin-bottom: 10px;
  background-color: white;
  opacity:0.75;

}


  .empty {
    /*height: 20px;*/
    display:none;
  }

  th {
    border-bottom: 1px solid #aaa;
    padding: 10px 10px;
    padding-bottom: 0;
  }
  td {
    padding: 10px;
  }


select {
  width: 100px;
  margin-right: 10px;
}

.quantity {
  width: 60px;
  margin-right: 10px;
}

.add {
    content: '+';
  margin: 5px;
  padding: 4px;
}

.add-product {
  margin-bottom: 10px;
}

input {
  border: 1px solid #aaa;
  padding: 5px;
}

.total{
  font-size:30pt;
  margin:10pt;
}

